{% extends 'admin_home.html' %}

{% block content %}

<table class="container-fluid table">
    <thead>
      <tr>
        <th scope="col">Faculty id</th>
        <th scope="col">Name</th>
        <th scope="col">Contact</th>
        <th scope="col">Batch</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {%if faculty %}
      <tr>
         {% for fac in faculty %} 
        <th scope="row">{{fac.id}}</th>
        <td>{{fac.f_name}}</td>
        <td>{{fac.f_mobile}}</td>
        <td>{{fac.f_batch}}</td>
        <td><a href="{% url 'admin_faculties_details'%}?id={{ fac.id }}" class="btn btn-outline-secondary  btn-arrow-right" role="button">more ></a></td>
        
        </tr>
        {% endfor %}
      {% endif%}
    </tbody>
</table>
<div class="text-left">
  <a href="{% url 'faculty_registration' %}" class="btn btn-outline-secondary  btn-arrow-right" role="button">Add +</a>
    </div>

{% endblock %}