<html>
    <head>
        <title>Attendence</title>
        {% load static %}
	<link rel="stylesheet" type='text/css' href="{% static 'css/style.css' %}">
    </head>
    <body class="">
        <div class="index_home">
            <ul>
                <li><a href="{% url 'login' %}">Student Login</a></li>
                <li><a href="{% url 'login' %}">Faculty Login</a></li>
                <li><a href="{% url 'login' %}">Authority Login</a></li>
            </ul>
        </div>
    </body>
</html>