<!doctype html>
<html>
<head>
    <title>www.menu.com</title>
	<style>
    </style>
    {% load static %}
	<link rel="stylesheet" type='text/css' href="{% static 'css/style.css' %}">
</head>
<body class="back">
    <div class="navbar">
		<ul>
			<a href="{% url 'index' %}">Home</a>
		</ul>
	</div>
	<div class="signup_form">
		<form action="{% url 'submit' %}" method="post" >
            {% csrf_token %}
			<a>Name:</a>
			<input class="text_area" type="text" name="name">
			<br>
			<br>
			<a>E-mail:</a>
			<input class="text_area" type="text" name="email">
			<br>
			<br>
			<a>Mobile:</a>
			<input  class="text_area" type="text" name="mobile" >
			<br>
			<br>
			<a>Password:</a>
			<input class="text_area" type="text" name="password" >
			<br>
			<br>
			<input class="button" type="submit" value="Cancel">
			<input class="button" type="submit" value="Submit">
		</form>
		<div class="signup_login">
		Already user?<a href="{% url 'login' %}">Login</a>
		</div>
	</div>
	<div class="ft">
		<footer>
			<p>&copy 2018-19 compony ltd
			</p>
		</footer>
	</div>
</body>
</html>